@using SimchosFund.Data
@model ContributionsViewModel
<div>
    <h1>Contributors</h1>
</div>
<div class="row">
    <div class="col-md-2">
        <button class="btn btn-outline-success" id="add-contributor">New Contributor</button>
    </div>
    <div class="col-md-4">
        <h3>Total: @Model.Contributors.Sum(c => c.Balance)</h3>
    </div>
</div>
<div class="table-responsive">
    <table class="table table-striped table-bordered">
        <tr>
            <th>Deposit</th>
            <th>Name</th>
            <th>Cell</th>
            <th>Balance</th>
            <th>Always Include</th>
            <th>Actions</th>
        </tr>
        @foreach (Contributor c in Model.Contributors)
        {
            <tr>
                <td>
                    <button class="btn btn-outline-success deposit-button" data-contributorId="@c.Id" data-contributorName= id="add-deposit">Deposit</button>
                </td>
                <td>@c.FirstName @c.LastName</td>
                <td>@c.CellNumber</td>
                <td>@c.Balance</td>
                <td>
                    <span class="oi oi-@(c.AlwaysInclude ? "check": "")"></span>
                </td>
                <td>
                    <a href="/contributors/history?id=@c.Id" class="btn btn-outline-primary">Show History</a>
                    <button data-first-name="@c.FirstName" data-last-name="@c.LastName"
                            data-cell="@c.CellNumber" data-id="@c.Id" data-always-include="@c.AlwaysInclude" data-created-date="@c.CreatedDate.ToString("yyyy-MM-dd")"
                            class="btn btn-outline-danger edit-button">
                        Edit
                    </button>
                </td>
            </tr>
        }
    </table>
</div>
<div class="modal fade new-contrib" tabindex="-1" role="dialog" id="add-contributor-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">New Contributor</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="POST" action="/contributors/new" class="add-contributor">
                <input type="hidden" name="Id" id="contributorId" />
                <div class="modal-body">
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label>First Name</label>
                            <input class="form-control" id="contributorFirstName" name="firstName" placeholder="First Name" type="text">
                        </div>
                        <div class="form-group col-md-6">
                            <label>Last Name</label>
                            <input class="form-control" id="contributorLastName" name="lastName" placeholder="Last Name" type="text">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label>Cell Number</label>
                            <input class="form-control" id="contributorCellNumber" name="cellNumber" placeholder="Cell Number" type="text">
                        </div>
                        <div class="form-group col-md-6" id="initialDepositDiv">
                            <label>Initial Deposit</label>
                            <input type="text" class="form-control" name="amount" placeholder="Initial Deposit">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label>Created Date</label>
                            <input class="form-control" id="contributorCreatedDate" name="createdDate" placeholder="Date" type="date">
                        </div>
                        <div>
                            <div class="form-check mt-3 ml-3">
                                <input type="checkbox" class="form-check-input" id="contributorAlwaysInclude" name="alwaysInclude" value="true">
                                <label class="form-check-label" for="contributor_always_include">Always Include</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button class="btn btn-primary">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal fade deposit" tabindex="-1" role="dialog" id="add-deposit-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Deposit for <span id="deposit-name"></span></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="POST" action="/contributors/deposit">
                <input type="hidden" name="contributorId" id="contributor-id"/>
                <div class="modal-body">
                    <div class="form-group">
                        <label>Amount</label>
                        <input class="form-control" name="amount" placeholder="Deposit Amount" type="text">
                    </div>
                    <div class="form-group">
                        <label>Date</label>
                        <input type="date" name="date" class="form-control" id="datepicker">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <input class="btn btn-primary" name="commit" type="submit" value="Save">
                </div>
            </form>
        </div>
    </div>
</div>
@section Scripts{
    <script src="/js/contributors.js"></script>
}

