@using SimchosFund.Data
@model ContributionsViewModel

<div class="container">
    <main role="main" class="pb-3" style="margin-top: 60px;">
        <div class="header">
            <h1>
                Contributors for the @Model.Simcha.Name Simcha
            </h1>
        </div>
        <div class="table-responsive">
            <form method="POST" action="/home/updatecontributions">
                <table class="table table-bordered table-striped">
                    <tr>
                        <th>Contribute</th>
                        <th>Name</th>
                        <th>Balance</th>
                        <th>Always Include</th>
                        <th>Amount</th>
                    </tr>

                    @for (int i = 0; i < Model.Contributors.Count; i++)
                    {
                        <tr>
                            <td>
                                <input type="checkbox" data-toggle="toggle" data-on="Yes" data-off="No" data-onstyle="outline-primary" data-offstyle="outline-secondary">                                @*<input class="contribute" type="checkbox" name="contributors[0].Include" checked="checked" value="true" />*@
                            </td>
                            <td>@Model.Contributors[i].LastName, @Model.Contributors[i].FirstName </td>
                            <td>@Model.Contributors[i].Balance</td>
                            <td>
                                <span class="oi oi-@(Model.Contributors[i].AlwaysInclude ? "check": "x")"></span>
                            </td>
                            <td>
                                <input type="text" name="contributions[i].Amount" class="form-control" value="5.00" />
                            </td>
                        </tr>
                    }
                </table>
                @for (int i = 0; i < Model.Contributors.Count; i++)
                {
                    <input type="hidden" name="contributions[i].SimchaId" value="@Model.Simcha.Id" />
                    <input type="hidden" name="contributions[i].ContributorId" value="@Model.Contributors[i].Id" />
                }
                <div style="text-align:center;">
                    <button class="btn btn-outline-primary">Update</button>
                </div>
            </form>
        </div>
    </main>
</div>